= bootstrap_form_for [@patient, @treatment_plan] do |f|
  = f.text_field :title

  %h2 Treatments
  .list-group
    - @treatments.each do |treatment|
      %a.list-group-item{ href: 'javascript:void(0)', data: { id: treatment.id } }= treatment.title

  = f.submit
