.container
  .row
    .col-md-6.center-form
      %h1 #{@patient.first_name} - Treatment plans

      %table.table.table-striped.table-bordered.data-table.margin-top
        %tr
          %th Title
          %th Patient
          %th Finished

        - @treatment_plans.each do |treatment_plan|
          %tr
            %td= link_to treatment_plan.title, treatment_plan_path(treatment_plan)
            %td= treatment_plan.patient.try(:first_name)
            %td= treatment_plan.finished?
